* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginContainer {
  background: rgb(21, 23, 43);
  height: 100vh;
  width: 100vw;
  padding-top: 10%;
}

.loginBox {
  border: 3px solid yellow;
  margin: auto;
  height: 80%;
  width: 80%;
  background: rgba(255, 255, 255, 0.671);
  text-align: center;
}

form {
  display: inline-block;
  /* border: 3px solid rgb(0, 8, 119); */
  line-height: 150px;
}

.logo {
  margin-left: 30%;
  height: 10%;
  width: 40%;
  background: rgb(85, 0, 0);
  margin-bottom: 2%;
}

.formLabel {
  font-size: 40px;
  color: rgb(255, 68, 0);
  margin: auto;
}

.formInput {
  background-color: burlywood;
  padding: 7%;
  border: 3px solid yellow;
}

.button {
  background-color: crimson;
  font-size: 30px;
  padding: 12%;
  padding-left: 30%;
  padding-right: 30%;
  color: aqua;
  border: 3px solid yellow;
}
