* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.statsAttack {
  background: rgba(102, 16, 16, 0.637);
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  height: 30%;
  width: 50%;
  left: 50%;
  top: -32%;
}

.statsDefense {
  background: rgba(4, 37, 8, 0.637);
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  height: 30%;
  width: 50%;
  top: -32%;
}

body {
  background: rgb(49, 49, 49);
  background-image: url("../art/giphy.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.board {
  background-color: rgba(11, 83, 33, 0.637);
  position: absolute;
  width: 60%;
  height: 70%;
  top: 10%;
  border: 5px solid rgb(255, 255, 255);
  left: 9%;
  transform: perspective(1500px) rotateX(45deg);
}

.opponentBoard {
  /* background: rgba(172, 255, 47, 0.589); */
  width: 100%;
  height: 40%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}

#opponentBoardUl {
  margin-top: 5%;
}

.playerBoard {
  /* background: rgba(47, 137, 255, 0.589); */
  width: 100%;
  height: 40%;
  display: block;
  position: absolute;
  top: 62%;
  left: 0%;
}

.boardZoneUl {
  height: 80%;
  width: 100%;
  margin-left: 4.5%;
  display: flex;
}

.boardZoneLi {
  background: rgba(0, 0, 0, 0.705);
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 89.5%;
  width: 11.3%;
  border: 3px solid rgb(255, 255, 255);
  margin-top: 2%;
  margin-right: 2%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.1s;
}

.spellZone {
  background: rgba(0, 80, 11, 0.822);
}

.deckZone {
  background-image: url("../art/cover.jpg");
}

#opponentDeckZone,
#opponentMainZone5,
#opponentMainZone4,
#opponentMainZone3,
#opponentMainZone2,
#opponentMainZone1,
#opponentSpellZone {
  transform: rotate(180deg);
}

#playerDeckZone,
#playerMainZone5,
#playerMainZone4,
#playerMainZone3,
#playerMainZone2,
#playerMainZone1,
#playerSpellZone {
  transform: rotate(0deg);
}

.boardZoneLi:hover {
  border: 3px solid rgb(255, 0, 0);
  transition: 0.1s;
}

#playerMainZone1 {
  background-image: url("../art/colossal.jpg");
}

#playerMainZone2 {
  background-image: url("../art/female.jpg");
}

#playerMainZone3 {
  background-image: url("../art/armored.jpg");
}

#playerMainZone4 {
  background-image: url("../art/attack.jpg");
}

#playerMainZone5 {
		  background-image: url("../art/15\ meter\ 1.jpg");
}

	#opponentMainZone1 {
		  background-image: url("../art/colossal.jpg");
		}

		#opponentMainZone2 {
		  /* background-image: url("../art/female.jpg"); */
		}

		#opponentMainZone3 {
		  /* background-image: url("../art/armored.jpg"); */
		}

		#opponentMainZone4 {
		  background-image: url("../art/attack.jpg");
		}

		#opponentMainZone5 {
		  background-image: url("../art/15\ meter\ 1.jpg");
		}